<ion-view view-title="Funciones">
  <ion-content>
<button class="button button-block button-balanced" ng-click="flashOn()">
Prender Linterna
</button>
<button class="button button-block button-dark" ng-click="flashOff()">
Apagar Linterna
</button>
<button class="button button-block button-assertive" ng-click="record()" ng-hide="isRecording">
Grabar
</button>
<button class="button button-block button-assertive" ng-click="record()" ng-show="isRecording">
Parar
</button>
  </ion-content>
</ion-view>
